html{
    max-width: 1366px;
    

}
body{
    background-color: #e04645;
}
header{
    width: 121.2rem;
    height: 12rem;
    margin: 1rem 2rem 0 2rem;
    padding: 0 0 0 0;
    background: #CBCBCB;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}
.puntos{
    /*Alienación de items*/
    display: flex;
    flex-direction: row;
    align-items:center;
}
.C1{
    width: 2rem;
    height: 2rem;
    background: #F20707;
    margin: 3rem 1rem 0 3rem;
    border-radius: 5rem;
}
.C2{
    width: 2rem;
    height: 2rem;
    background: #D9B13B;
    margin: 3rem 1rem 0 0;
    border-radius: 5rem;
}
.C3{
    width: 2rem;
    height: 2rem;
    background-color: #085CA6;
    ;
    margin: 3rem 2rem 0 0;
    border-radius: 5rem;
}
.C4{
    width: 100rem;
    height: 6rem;
    background-color: #fcfcfc;
    margin: 3rem 4rem 0 0;
    border-radius: 0.5rem;

}
.buscador{
    width: 121.2rem;
    height: 6rem;
    margin:0 2rem 0 2rem; 
    background-color: #464e5d;
}
.buscador img{
    height: 4rem;
    width: 4rem;
    float: right;
    margin: 1rem 2rem 0 0 ;
}
.B0{
    width: 11rem;
    height: 4rem;
    background: #DF4645;
    border-radius: 1rem;
    float:right;
    margin: 1rem 3rem 0 0;
}
.B0 p{
    font-size: 1.8rem;
    color:white;
    margin: 0.8rem 0 0 1.5rem;
}

aside{
    float:right;
    width: 36rem;
    height: 153rem;
    background-color: #fcfcfc;
    margin: 0 3.1rem 0 0;
}
.lateral{
    width: 32rem;
    height: 140rem;
    background-color: #e6e6e6;
    margin: 1.5rem 1.5rem 1rem 2rem;
    border-radius: 1.5rem;
    padding: 10rem 0 0 0;

}
.bub1{
    /*Alienación de items*/
    display: flex;
    flex-direction: row;
    align-items: center;

}
.T1{
    width: 23rem;
    height: 15rem;
    background-color: #cccccc;
    border-radius: 0.6rem;
    margin:2rem 0 0 0;

}
.T1 img{
    width: 21rem;
    height: 13rem;
    border-radius: 0.6rem;
    margin:1rem 0.5rem 0.5rem 1rem;
}
.T1_1{
    width: 5rem;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-right: 2rem solid #cccccc;
    margin: 2rem 0 0 0;
}
.bub2{
    /*Alienación de items*/
    display: flex;
    flex-direction: row;
    align-items: center;
}
.T2{
    width: 23rem;
    height: 15rem;
    background-color: #cccccc;
    border-radius: 0.6rem;
    margin: 2rem 0 0 0;
}
.T2 img{
    width: 21rem;
    height: 13rem;
    border-radius: 0.6rem;
    margin:1rem 0.5rem 0.5rem 1rem;
}
.T2_2{
    width: 5rem;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-right: 2rem solid #cccccc;
    margin: 2rem 0 0 0;
}
.bub3{
    /*Alienación de items*/
    display: flex;
    flex-direction: row;
    align-items: center;
}
.T3{
    width: 23rem;
    height: 15rem;
    background-color: #cccccc;
    border-radius: 0.6rem;
    margin:  2rem 0 0 0;
    
}
.T3 img{
    width: 21rem;
    height: 11rem;
    border-radius: 0.6rem;
    margin:2rem 0.5rem 0.5rem 1rem;
}
.T3_3{
    width: 5rem;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-right: 2rem solid #cccccc;
    margin: 2rem 0 0 0;
}
.bub4{
    /*Alienación de items*/
    display: flex;
    flex-direction: row;
    align-items: center;
}

.T4{
    width: 23rem;
    height: 15rem;
    background-color: #cccccc;
    border-radius: 0.6rem;
    margin:  2rem 0 0 0;
}
.T4 img{
    width: 21rem;
    height: 13rem;
    border-radius: 0.6rem;
    margin:1rem 0.5rem 0.5rem 1rem;
}
.T4_4{
    width: 5rem;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-right: 2rem solid #cccccc;
    margin: 2rem 0 0 0;
}
.T5{
    width: 28rem;
    height: 26rem;
    background-color: #bfbfbf;
    border-radius: 0.6rem;
    margin: 4rem 0 0 2rem;
    overflow: hidden;
}
.T5 img{
    width: 28rem;
    height: 26rem;
    margin: 0 0 0 0 ;
    object-fit: cover;
}
.fondo1{
    width: 85.2rem;
    height: 50rem;
    background-color: #fcfcfc;
    margin: 0 0 0 2rem;
    padding:2rem 0 0 2.3rem;
}
.D1{
    width: 82.6rem;
    height: 43rem;
    background-color: #cccccc;
    border-radius: 1rem;

      /*Alienación de items*/
      display: flex;
      flex-direction: row;
      align-items:flex-end;
}
.D1 img{
    width: 82.6rem;
    height: 43rem
}
.B1{
    width: 60rem;
    height: 3.5rem;
    background-color: #464E5D;
    border-radius: 2rem;
    margin: 0 0 3rem 3rem;
    position: absolute;
    opacity: 60%;
}
.playlist{
    color: white ;
    font-size: 2rem;
    position: absolute;
    margin: 0 0 3.5rem 6rem;
}
.fondo2{
    width: 85.2rem;
    height: 30rem;
    background-color:#fcfcfc;
    margin: 0 0 0 2rem ;

    /*Alienación de items*/
    display: flex;
    flex-direction: row;
    align-items: center;

}
.D2{
    width: 26.5rem;
    height: 27rem;
    background-color: #cccccc;
    margin: 0 0 0 2rem;
    border-radius: 1rem;
    padding: 0 0 0rem 0;
}
.D2 img{
    width: 26rem;
    height: 20rem
    
}
.coment1{
    width: 13rem;
    height: 4rem;
    background-color: #313131;
    margin: 0 2rem 0 0;
    border-radius: 1rem;
    float: right;
}
.coment1 p{
    color: #cccccc;
    font-size: 3rem;
    margin: 0 0 0 3rem;
}
.D3{
    width: 26.5rem;
    height: 27rem;
    background-color: #cccccc;
    margin: 0 0 0 2rem;
    border-radius: 1rem;
}
.D3 img{
    width: 18rem;
    height: 19rem;
    margin: 1rem 0 0 4rem;
}
.coment2{
    width: 13rem;
    height: 4rem;
    background-color: #313131;
    margin: 0.5rem 1.5rem 0 0;
    border-radius: 1rem;
    float: right;
}
.coment2 p{
    color: #cccccc;
    font-size: 2.7rem;
    margin: 0.2rem 0 0 2rem;
}
.D4{
    width: 26.5rem;
    height: 27rem;
    background-color: #cccccc;
    margin: 0 0 0 2rem;
    border-radius: 1rem;
}
.D4 img{
    width: 21rem;
    height: 20rem;
    margin: 2rem 0 0 2.5rem;
}
.fondo3{
    width: 85.2rem;
    height: 30rem;
    background-color:#fcfcfc;
    margin: 0 0 0 2rem ;

    /*Alienación de items*/
    display: flex;
    flex-direction: row;
    align-items: center;

}
.D5{
    width: 26.5rem;
    height: 27rem;
    background-color: #cccccc;
    margin: 0 0 0 2rem;
    border-radius: 1rem;
    padding: 0 0 0 0 ;
}
.D5 img{
    width: 25rem;
    margin: 5.5rem 0 0 0.5rem;
}
.coment3{
    width: 13rem;
    height: 4rem;
    background-color: #313131;
    border-radius: 1rem;
    float: right;
    margin: 2rem 2rem 0 0;
}
.coment3 p{
    color: #cccccc;
    font-size: 2.7rem;
    margin: 0.5rem 0 0 4rem;
}
.D6{
    width: 26.5rem;
    height: 27rem;
    background-color: #cccccc;
    margin: 0 0 0 2rem;
    border-radius: 1rem;
}
.D6 img{
    height: 19rem;
    margin: 3rem 0 0 3.5rem;
}
.coment4{
    width: 12rem;
    height: 3.5rem;
    background-color: #313131;
    border-radius: 1rem;
    float: right;
    /*margin: 0 0 3rem 12rem;*/
    position: absolute;
    /* transform: translate(izquierda a derecha, arriba a abajo(positivos)*/
    transform: translate(12rem, -1rem);
    color: white;
    font-size: 2.2rem;
    padding: 0.5rem 0 0 1.5rem ;
}
.D7{
    width: 26.5rem;
    height: 27rem;
    background-color: #cccccc;
    margin: 0 0 0 2rem;
    border-radius: 1rem;
}
.D7 img{
    width:19rem ;
    margin: 2rem 0 0 4rem ;
}
.coment5{
    width: 8rem;
    height: 3.5rem;
    background-color: #313131;
    border-radius: 1rem;
    float: right;
    /*margin: 0 0 3rem 12rem;*/
    position: absolute;
    /* transform: translate(izquierda a derecha, arriba a abajo(positivos)*/
    transform: translate(12rem, -2rem);
    color: white;
    font-size: 2.2rem;
    padding: 0.5rem 0 0 5rem ;
}
.fondo4{
    width: 85.5rem;
    height: 37rem;
    background-color:#fcfcfc;
    margin: 0 0 0 2rem ;
    padding: 4rem 0 0 0;

    /*Alienación de items*/
    display: flex;
    flex-direction: row;
    align-items:flex-start;
}
.D8{
    width: 23rem;
    height: 19rem;
    background-color: #cccccc;
    margin: 0 0 0 2rem;
    border-radius: 2rem;
}
.D8 img{
    width: 23rem;
    height: 19rem;
    box-shadow: 0 1rem 1rem 0 rgb(182, 182, 182);
    border-radius: 2rem;
}
.cajaparrafo{
    margin: 0 0 0 2rem;
}
.parrafo{
    font-size: 2.3rem;
    color: #353535;
}
.B2{
    width: 50rem;
    height: 2rem;
    background-color: #8c8c8c;
    margin: 1.5rem 0 0 3rem ;
    border-radius: 0.4rem;
}
.B3{
    width: 45rem;
    height: 2rem;
    background-color: #bfbfbf;
    margin: 1.5rem 0 0 3rem ;
    border-radius: 0.4rem;
}
.B4{
    width: 12rem;
    height: 2rem;
    background-color: #bfbfbf;
    margin: 1.5rem 0 0 3rem ;
    border-radius: 0.4rem;
}
